//header-color
$template:(
    (
        'base': #009eac,//ヘッダーの色 100%
        'color1':#e5f5f7,//タイトルの色 10%
        'color2' : #008493//ヘッダーの下線
    )
);
//primary-color
$primary: (
    (
        'base': #1ea0dc,//ボタンの色など 100%
        'color1': #62bde7,//ローバルメニューマウスオーバー 70%
        'color2': #bbe2f4,// 30%
        'color3': #d2ecf8,//オーダ送信済み 20%
        'color4': #ddf1fa ,//患者ヘッダー 15%
        'color5': #e8f5fb//予定未読背景 10%
    )
);
$primary2 : (('base' : map-get($primary , 'color2')));
//削除ボタンなどの色
$danger: (
    (
        'base': #c83232
    )
);
//黒いボタンの色
$dark : (
    (
        'base':#51565B//黒いボタンの色
    )
);
//waroku-pink(システム内でのピンク色)
$waroku-pink :(
    (
        'base': #fc3e87,//カルテ隔離拘束アイコンなど 100%
        'color1': #fd78ab,//付箋のヘッダー 70%
        'color2': #fe9ec3,//付箋の本体背景 50%
        'color3': #fec5db //カレンダー 30%
    )
);
//waroku-pink(システム内での紫)
$waroku-purple:(
    (
        'base': #853ecf,//入院アイコン 100%
    )
);
//waroku-green(システム内での緑)
$waroku-green:(
    (
        'base': #5ab800,//外来の場合 100%
        'color1': #cdeab2,//カレンダー（外来来院時） 30%
        'color2':  #ecf8de,//外来来患者ヘッダー
        'color3':  #e6f4d9,//一覧系（オンマウス） 15%
        'color4':  #eef8e5//一覧系 10%
    )
);
$waroku-green1 : (('base' : map-get($waroku-green , 'color1')));
//waroku-orange(システム内でのオレンジ)
$waroku-orange:(
    (
        'base': #f55a0c,//患者入院状態アイコン 100%
        'color1': #f88b55, //付箋ヘッダー 70%
        'color2': #faac85,//付箋の本体背景 50%
        'color3': #fccdb6 //カレンダー 30%
    )
);
//waroku-yellow(システム内での黄色)
$waroku-yellow:(
    (
        'base': #e5b000 ,//患者入院状態アイコン 100%
        'color1': #f5c74c, //付箋ヘッダー 70%
        'color2': #f8d780,//付箋の本体背景 50%
        'color3': #f7e7b2,  //カレンダー 30%
        'color4': #faefcc  //付箋エリアの背景 20%
    )
);
$waroku-yellow3 : (('base' : map-get($waroku-yellow , 'color3')));
//waroku-gray(システム内でのグレー)
$waroku-gray:(
    (
        'base': #808080,
        'color1': #a9a9a9,
        'color2': #c0c0c0,
        'color3': #d3d3d3,
        'color4': #f5f5f5,
        'color5': #f0f0f0  //テーブル偶数行の背景色数行の背景色
    )
);
$waroku-gray1 : (('base' : map-get($waroku-gray , 'color1')));
$waroku-gray2 : (('base' : map-get($waroku-gray , 'color2')));
$waroku-gray3 : (('base' : map-get($waroku-gray , 'color3')));
$waroku-gray4 : (('base' : map-get($waroku-gray , 'color4')));
$waroku-gray5 : (('base' : map-get($waroku-gray , 'color5')));
//ベースフォントカラー（黒）
$font-color : (
    (
        'base':#333333,//黒いボタンの色
        'color1': #717171,
        'color2': #adadad
    )
);
$font-color1 : (('base' : map-get($font-color , 'color1')));
$font-color2 : (('base' : map-get($font-color , 'color2')));
$info:(
    (
    'base' : map-get($template , 'base')
    )
);
$success:(
    (
    'base' : map-get($waroku-green , 'base')
    )
);
$colors : (
    (
        'template' : $template,
        'primary' : $primary,
        'primary2' : $primary2,
        'danger': $danger,
        'info' : $info,
        'success' : $success,
        'dark' : $dark,
        'waroku-pink': $waroku-pink,
        'waroku-purple': $waroku-purple,
        'waroku-green': $waroku-green,
        'waroku-green1': $waroku-green1,
        'waroku-orange': $waroku-orange,
        'waroku-yellow': $waroku-yellow,
        'waroku-yellow3': $waroku-yellow3,
        'waroku-gray': $waroku-gray,
        'waroku-gray1': $waroku-gray1,
        'waroku-gray2': $waroku-gray2,
        'waroku-gray3': $waroku-gray3,
        'waroku-gray4': $waroku-gray4,
        'waroku-gray5': $waroku-gray5,
        'font-color': $font-color,
        'font-color1': $font-color1,
        'font-color2': $font-color2
    )
);
