$chip-padding : 5px 10px;
$chip-line-height : 1;
$chip-padding: 5px 10px;
$chip-line-height: 1;
.v-chip.v-size--small {
  font-size: 10px;
  height: auto;
}
.v-chip.v-size--x-small {
  padding: 2px 7px;
}
