#app {
  .multiselect {
    font-size: 1rem;
    .multiselect__select {
      height: 2.8em;
      &::before {
        border-color: rgba(0, 0, 0, 0.54) transparent transparent;
      }
    }
    .multiselect__tags {
      padding: 10px 40px 0 0.5em;
      font-size: 1rem;
      border: 1px solid #c7ccce;
      min-height: 0;
    }
    .multiselect__tag {
      background: #1ea0dc;
      border-radius: 20em;
      .multiselect__tag-icon {
        border-radius: 50%;
        line-height: 18px;
        &::after {
          color: lighten(#1ea0dc, 20%);
          margin-top: 1px;
          display: block;
        }
        &:focus,
        &:hover {
          background: lighten(#1ea0dc, 50%);
        }
      }
    }
    .multiselect__content-wrapper {
      .multiselect__option--highlight {
        background: #1ea0dc;
        &::after {
          background: #1ea0dc;
        }
      }
      .multiselect__content {
        padding-left: 0;
      }
    }
  }
  .multiselect__input {
    font-size: 1rem;
  }
}
