.modal-content {
  .modal-tab :deep(.v-slide-group__prev, .v-slide-group__next) {
        background-color: #c7ccce;
  }
  
  .v-tab {
    position: relative;
    border-top: solid 1px #c7ccce;
    border-bottom: solid 1px #c7ccce;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;
      width: 80%;
      height: 4px;
      margin: 0 auto;
      background-color: #1ea0dc;
      -webkit-transition: 0.2s ease;
      transition: 0.2s ease;
    }

    &--active {
      background-color: $colorWhite;
      border-bottom: solid 1px $colorWhite;
      &::after {
        bottom: 0px;
      }
    }
  }
}
