//button
$btn-font-sizes: (
  (
    'small': 0.83em,
    'default': 1em,
    'large': 1.16em,
  )
);
.v-btn {
  box-shadow: none;
  transition: 0.3s ease-in-out;
}
//primary
.v-btn {
  &.primary {
    border: 1px solid map-get($primary, 'base');
  }
  &:hover {
    opacity: 1;
    &.primary {
      background: #fff !important;
      color: map-get($primary, 'base');
    }
  }
}
//teal
.v-btn {
  &.teal {
    border: 1px solid map-get($template, 'base') !important;
    background-color: map-get($template, 'base') !important;
    color: #fff;
  }
  &:hover {
    opacity: 1;

    &.teal {
      background: #fff !important;
      color: map-get($template, 'base');
    }
  }
}
.v-btn {
  &.v-btn--outlined {
    background: #fff;
    &.primary--text {
      border: 1px solid map-get($primary, 'base');
      color: map-get($primary, 'base');
//      font-weight: 700 !important;
    }
  }
  &:hover {
    &.v-btn--outlined {
      &.primary--text {
        background: map-get($primary, 'base') !important;
        color: #fff !important;
      }
    }
  }
}
.v-picker {
  .v-btn {
    padding: 0;
  }
}
.v-btn:not(.v-btn--fab) {
  border-radius: 50em;
  padding: 5px 10px;
}
//dark
.v-btn {
  &.dark {
    border: 1px solid map-get($dark, 'base');
    color: #fff;
  }
  &:hover {
    &.dark {
      background: #fff !important;
      color: map-get($dark, 'base');
    }
  }
  &.v-btn--outlined {
    background: #fff;
    &.dark--text {
      border: 1px solid map-get($dark, 'base');
      color: map-get($dark, 'base');
    }
  }
  &:hover {
    &.v-btn--outlined {
      &.dark--text {
        background: map-get($dark, 'base') !important;
        color: #fff !important;
      }
    }
  }
}
//danger
.v-btn {
  &.danger {
    border: 1px solid map-get($danger, 'base');
    color: #fff;
  }
  &:hover {
    &.danger {
      background: #fff !important;
      color: map-get($danger, 'base');
    }
  }
  &.v-btn--outlined {
    background: #fff;
    &.danger--text {
      border: 1px solid map-get($danger, 'base');
      color: map-get($danger, 'base');
    }
  }
  &:hover {
    &.v-btn--outlined {
      &.danger--text {
        background: map-get($danger, 'base') !important;
        color: #fff !important;
      }
    }
  }
}
.v-btn {
  &.w-40 {
    width: 40px;
  }
  &.w-80 {
    width: 80px;
  }
  &.btn--blue {
    color: #fff;
    background-color: #1ea0dc;
    border-radius: 0;
    &:hover {
      color: #1ea0dc;
      border-color: #1ea0dc;
      background-color: #fff;
    }
  }
}

/**/
:deep(.bt-basic){
  width: 80px;
  height: 32px !important;
  padding: 5px 7px !important;
  font-size: 11px;

  &.h-small {
    height: 22px !important;
  }
  &.h-middle {
    height: 28px !important;
  }
  &.w-auto {
    width: auto;
  }
  &.t-toggle {
    background-color: #51565B;
  }
  &.c-gray {
    background-color: #51565B;
    color: $colorWhite;
  }
}

.v-btn--plus.v-btn:not(.v-btn--round).v-size--small,
.v-btn--circle.v-btn:not(.v-btn--round).v-size--small {
  width: 25px;
  height: 25px;
  min-width: 25px;
}

.remove-bt {
  background-image: url('@/assets/icon/delete.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 16px auto;

  &:hover {
    background-image: url('@/assets/icon/delete_ov.svg');
  }
}
