.same-name-check {
  color: var(--danger, "base");
}
.same-name-check .same-name-check-icon {
  position: relative;
}
.same-name-check .same-name-check-icon::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  bottom: 0;
  left: -1.25em;
  background-image: url("~assets/icon/important_triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(0, -50%);
}
.same-name-check .same-name-check-icon-quick-search {
  position: relative;
}
.same-name-check .same-name-check-icon-quick-search::before {
  bottom: -3px;
}

.v-radio {
  margin-bottom: 0 !important;
}

.v-input,
.v-label {
  font-size: 12px !important;
}

.v-list-item--dense .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list--dense .v-list-item .v-list-item__subtitle {
  font-size: 12px !important;
}

.v-date-picker-table .v-btn:focus::before {
  opacity: 0;
}

.v-btn {
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.v-btn.primary {
  border: 1px solid var(--primary, "base");
}
.v-btn:hover {
  opacity: 1;
}
.v-btn:hover.primary {
  background: #fff !important;
  color: var(--primary, "base");
}

.v-btn.teal {
  border: 1px solid var(--template, "base") !important;
  background-color: var(--template, "base") !important;
  color: #fff;
}
.v-btn:hover {
  opacity: 1;
}
.v-btn:hover.teal {
  background: #fff !important;
  color: var(--template, "base");
}

.v-btn.v-btn--outlined {
  background: #fff;
}
.v-btn.v-btn--outlined.primary--text {
  border: 1px solid var(--primary, "base");
  color: var(--primary, "base");
}
.v-btn:hover.v-btn--outlined.primary--text {
  background: var(--primary, "base") !important;
  color: #fff !important;
}

.v-picker .v-btn {
  padding: 0;
}

.v-btn:not(.v-btn--fab) {
  border-radius: 50em;
  padding: 5px 10px;
}

.v-btn.dark {
  border: 1px solid var(--dark, "base");
  color: #fff;
}
.v-btn:hover.dark {
  background: #fff !important;
  color: var(--dark, "base");
}
.v-btn.v-btn--outlined {
  background: #fff;
}
.v-btn.v-btn--outlined.dark--text {
  border: 1px solid var(--dark, "base");
  color: var(--dark, "base");
}
.v-btn:hover.v-btn--outlined.dark--text {
  background: var(--dark, "base") !important;
  color: #fff !important;
}

.v-btn.danger {
  border: 1px solid var(--danger, "base");
  color: #fff;
}
.v-btn:hover.danger {
  background: #fff !important;
  color: var(--danger, "base");
}
.v-btn.v-btn--outlined {
  background: #fff;
}
.v-btn.v-btn--outlined.danger--text {
  border: 1px solid var(--danger, "base");
  color: var(--danger, "base");
}
.v-btn:hover.v-btn--outlined.danger--text {
  background: var(--danger, "base") !important;
  color: #fff !important;
}

.v-btn.w-40 {
  width: 40px;
}
.v-btn.w-80 {
  width: 80px;
}
.v-btn.btn--blue {
  color: #fff;
  background-color: #1ea0dc;
  border-radius: 0;
}
.v-btn.btn--blue:hover {
  color: #1ea0dc;
  border-color: #1ea0dc;
  background-color: #fff;
}

/**/
:deep(.bt-basic) {
  width: 80px;
  height: 32px !important;
  padding: 5px 7px !important;
  font-size: 11px;
}
:deep(.bt-basic).h-small {
  height: 22px !important;
}
:deep(.bt-basic).h-middle {
  height: 28px !important;
}
:deep(.bt-basic).w-auto {
  width: auto;
}
:deep(.bt-basic).t-toggle {
  background-color: #51565B;
}
:deep(.bt-basic).c-gray {
  background-color: #51565B;
  color: var(--colorWhite);
}

.v-btn--plus.v-btn:not(.v-btn--round).v-size--small,
.v-btn--circle.v-btn:not(.v-btn--round).v-size--small {
  width: 25px;
  height: 25px;
  min-width: 25px;
}

.remove-bt {
  background-image: url("@/assets/icon/delete.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 16px auto;
}
.remove-bt:hover {
  background-image: url("@/assets/icon/delete_ov.svg");
}

.v-radio.is-danger .v-label,
.v-radio.is-danger .v-icon {
  color: var(--danger, "base") !important;
}
.v-radio .v-label {
  color: #333333;
}
.v-radio--is-disabled .v-label {
  color: #aaa !important;
}
.v-radio :deep(.v-input--selection-controls__input) {
  margin-right: 3px;
}
.v-radio :deep(.v-input--selection-controls__ripple) {
  width: 20px;
  height: 19px;
  left: 2px;
  top: calc(50% - 10px) !important;
  margin: 0;
}

.v-input--checkbox.is-danger .v-label,
.v-input--checkbox.is-danger .v-icon {
  color: var(--danger, "base") !important;
}
.v-input--checkbox .v-label {
  color: #333333;
}
.v-input--checkbox .v-label--is-disabled {
  color: #aaa !important;
}
.v-input--checkbox :deep(.v-input--selection-controls__input) {
  margin-right: 1px !important;
}
.v-input--checkbox :deep(.mdi-checkbox-blank-outline) {
  color: #c8c8c8;
}
.v-input--checkbox :deep(.v-input--selection-controls__ripple) {
  width: 16px !important;
  height: 16px !important;
  top: -3px !important;
  left: -3px !important;
}

.v-text-field {
  margin-top: 0;
  padding-top: 0;
}
.v-text-field.v-input--is-focused .v-input__slot::after {
  border: none !important;
  transform: scale(0) !important;
}
.v-text-field .v-input__slot {
  padding: 0 10px;
  background-color: var(--colorWhite);
  border: 1px solid #c7ccce !important;
  border-radius: 4px;
}
.v-text-field .v-input__slot::before {
  border: none !important;
}

:deep(.v-date-picker-table) {
  height: auto;
}

:deep(.accent) {
  background-color: #1ea0dc !important;
  border-color: #1ea0dc !important;
}

:deep(.accent--text) {
  color: #1ea0dc !important;
  caret-color: #1ea0dc !important;
}

.checkbox {
  position: relative;
  margin-bottom: 0;
  font-weight: normal !important;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333333;
}
.checkbox:last-child {
  margin-right: 0;
}
.checkbox .check {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #b9bbbd;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
}
.checkbox .check::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 8px;
  top: 20%;
  left: 0;
  border-left: 2px solid #1EA0DC;
  border-bottom: 2px solid #1EA0DC;
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0;
  background-color: transparent;
}
.checkbox input[type=checkbox] {
  position: static;
  z-index: 2;
  opacity: 0;
  width: 16px;
  height: 16px;
  display: none;
}
.checkbox input[type=checkbox]:checked ~ .check {
  border: none;
  background-color: transparent;
}
.checkbox input[type=checkbox]:checked ~ .check::before {
  opacity: 1;
}

.mdi-calendar {
  margin-top: 4px;
}
.mdi-calendar::before {
  color: #1EA0DC;
}

.c-textarea .v-input__slot {
  padding: 0;
}
.c-textarea .v-input__slot textarea {
  padding: 4px 7px;
}

.v-pagination__navigation, .v-pagination__item {
  box-shadow: none;
  border: 1px solid #C7CCCE;
}

.v-pagination__navigation .v-icon {
  font-size: 15px;
}

#app {
  /* .v-data-table tbody tr:not(.bg-gray):hover {
    background-color: transparent !important;
  } */
}
#app .v-data-table :deep(.thead) tr {
  height: 30px !important;
}
#app .v-data-table :deep(.thead) tr.v-data-table__progress {
  height: auto !important;
  padding-top: 0 !important;
}
#app .v-data-table :deep(.thead) tr.v-data-table__progress th {
  height: inherit !important;
  padding-top: inherit !important;
  background-color: transparent !important;
}
#app .v-data-table :deep(.thead) tr th {
  height: 30px !important;
  padding-top: 3px !important;
  background-color: var(--waroku-gray, "color6") !important;
  font-weight: bold !important;
  color: var(--font-color, "base") !important;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
}
#app .v-data-table :deep(.tbody) tr td {
  height: auto !important;
  padding: 6px !important;
  cursor: pointer !important;
}
#app .v-data-table tr:nth-child(2n) {
  background-color: var(--waroku-gray, "color5");
}
#app .v-data-table tr:hover {
  background-color: var(--primary, "color5") !important;
}

.global-header {
  position: relative;
}
.global-header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #008493;
  z-index: 1;
}

.v-chip.v-size--small {
  font-size: 10px;
  height: auto;
}

.v-chip.v-size--x-small {
  padding: 2px 7px;
}

.same-name-check {
  color: var(--danger, "base");
}
.same-name-check .same-name-check-icon {
  position: relative;
}
.same-name-check .same-name-check-icon::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  bottom: 0;
  left: -1.25em;
  background-image: url("~assets/icon/important_triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(0, -50%);
}
.same-name-check .same-name-check-icon-quick-search {
  position: relative;
}
.same-name-check .same-name-check-icon-quick-search::before {
  bottom: -3px;
}

.v-radio {
  margin-bottom: 0 !important;
}

.v-input,
.v-label {
  font-size: 12px !important;
}

.v-list-item--dense .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list--dense .v-list-item .v-list-item__subtitle {
  font-size: 12px !important;
}

.v-date-picker-table .v-btn:focus::before {
  opacity: 0;
}

#app .multiselect {
  font-size: 1rem;
}
#app .multiselect .multiselect__select {
  height: 2.8em;
}
#app .multiselect .multiselect__select::before {
  border-color: rgba(0, 0, 0, 0.54) transparent transparent;
}
#app .multiselect .multiselect__tags {
  padding: 10px 40px 0 0.5em;
  font-size: 1rem;
  border: 1px solid #c7ccce;
  min-height: 0;
}
#app .multiselect .multiselect__tag {
  background: #1ea0dc;
  border-radius: 20em;
}
#app .multiselect .multiselect__tag .multiselect__tag-icon {
  border-radius: 50%;
  line-height: 18px;
}
#app .multiselect .multiselect__tag .multiselect__tag-icon::after {
  color: #74c6ec;
  margin-top: 1px;
  display: block;
}
#app .multiselect .multiselect__tag .multiselect__tag-icon:focus, #app .multiselect .multiselect__tag .multiselect__tag-icon:hover {
  background: #fbfdfe;
}
#app .multiselect .multiselect__content-wrapper .multiselect__option--highlight {
  background: #1ea0dc;
}
#app .multiselect .multiselect__content-wrapper .multiselect__option--highlight::after {
  background: #1ea0dc;
}
#app .multiselect .multiselect__content-wrapper .multiselect__content {
  padding-left: 0;
}
#app .multiselect__input {
  font-size: 1rem;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

.v-window {
  overflow: visible;
}

.error-text {
  margin-top: 0.5em;
  color: #c83232;
}

.v-application a {
  color: #1ea0dc;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.mdi-menu-down {
  caret-color: #1ea0dc !important;
  color: #1ea0dc !important;
}

.v-input__append-inner {
  margin-right: -10px;
  padding-left: 0 !important;
}

.view-table .v-data-table > .v-data-table__wrapper > table > tbody > tr {
  text-align: center !important;
}

.v-tab {
  min-width: 45px !important;
  padding: 0 4px !important;
  font-size: 12.5px;
  border-bottom: none;
  background-color: #f0f0f0;
}
.v-tab--active {
  color: #000000 !important;
}

.v-tabs-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
.v-tabs-bar .v-tab {
  border-right: solid 1px #c7ccce;
}

.v-tabs-slider-wrapper {
  display: none;
}

.v-list-item--dense,
.v-list--dense .v-list-item {
  min-height: 20px !important;
}

.e-title {
  position: relative;
  padding: 9px 10px 7px 10px !important;
  font-size: 14px !important;
  font-weight: bold;
  line-height: 1.1;
}
.e-title::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  width: 4px;
  height: 14px;
  background-color: #1ea0dc;
}/*# sourceMappingURL=variables.css.map */